@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans";
}

body {
  @apply bg-transparent text-slate-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
